gedit
cef_user_data
coc
Code
Cypress
dconf
enchant
eog
evolution
GitKraken
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gtk-*
JetBrains
.gsd*
Kingsoft
Unknown Organization
MongoDB Compass
ibus
lapce-stable
libreoffice
menus
mimeapps.list
nautilus
neofetch
pavucontrol.ini
pulse
simple-update-notifier
systemd
user-*
zoom*
wifimenu
*/.vscode
create-next-app-nodejs
nextjs-nodejs
